.header {
    display: flex;
    background-color: #666E7F;
    height: 45px; 
    justify-content: space-between;
    align-items: center;
  }
  
  .header a {
    text-decoration: none;
    color: #fff;
    padding: 0 9px;
    transition: all .2s ease-in;
  }
  .header a:hover {
    color: #F7DF19;
  }